*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

build.gradle

gradle/wrapper

.idea/.name

.idea/vcs.xml

.idea/misc.xml

.idea/gradle.xml

.idea/.name
